@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf); }
html {
    height: 100%;
    font-family: OpenSans-Regular;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    background: #fefae6;
    margin: 0;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.outer {
    height: 100%;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}

.brend-block {
    display: block;
    -webkit-transition: left 0.5s ease, top 0.5s ease, bottom 0.5s ease, right 0.5s ease, width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
    transition: left 0.5s ease, top 0.5s ease, bottom 0.5s ease, right 0.5s ease, width 0.5s ease, padding 0.5s ease , margin 0.5s ease;
    z-index: 5;
}

.hover.brend-block {
    z-index: 10;
}

.outer:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.inner {
    min-height: 100%;
    position: relative;
    width: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}


.about-us {
    width: 37.5%;
    padding-top: 37.5%;
    position: relative;
    left: 50%;
    margin-top: 0%;
}

.brand-front {
    background: #9e1c36;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}
.brand-front img {
    width: 80%;
    max-width: 100%;
}

.brand-front:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.brand-logo {
    width: 100%;
    *
    display: inline;*
zoom: 1;
}

.brand-logo-wrap {
    width: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.about-us-front {
    background: rgba(243, 213, 173, 0.87)!important;
}

.services {
    width: 25%;
    padding-top: 25%;
    position: relative;
    left: 50%;
}

.services-front {
    background: rgba(255, 142, 35, 0.87) !important;
}

.gallery {
    position: absolute;
    left: 25%;
    top: 0;
    margin-top: 15.5%;
    width: 24.95%;
    padding-top: 22%;
}

.gallery-front {
    background: rgba(255, 255, 255, 0.87) !important;
    border: 1px solid rgba(187, 184, 184, 0.64);
}

.gallery .flip-back-logo img {
    width: 60%;
    margin-left: 12.68%;
}

.materials {
    position: absolute;
    left: 25%;
    top: 0;
    width: 16.5%;
    padding-top: 15.5%;
}

.materials-front {
    background: rgba(249, 205, 38, 0.9) !important;
}
.flip-back.reviews-front {background: #8983a4 !important;}

.flip-back.materials-front {
    background: #ff90a0 !important;
}
.flip-back.materials-front p{
    color: white !important;
}
.reviews {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8.5%;
    margin-top: 37.5%;
    width: 16.5%;
    padding-top: 16.5%;
}

.reviews-front {
    background: rgba(126, 124, 164, 0.9) !important;
}

.masters {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 33.5%;
    margin-top: 37.5%;
    width: 16.5%;
    padding-top: 16.5%;
}

.masters-front {
    background: rgba(111, 204, 91, 0.87) !important;
}

.sabor-club-menu {
    width: 100%;
    padding-top: 5%;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
}



.sabor-di-ciliegi-logo {
    position: fixed;
    left: 0;
    top: 0;
    width: 23.5%;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
    z-index: 5;
    margin-left: 0;
}



.flip {
    cursor: pointer;
    display: block;
}

.flip-perspective {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.flip-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    -o-transition: -o-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip.hover .flip-block {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    -ms-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}

.flip-front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.flip-back {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    -ms-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    font-size: 0;
    white-space: normal;
}

.flip-back:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.overlay {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(/mak.jpg) repeat;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
    //display: none;
}

.overlay:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.services .flip-back {
    background: #ff8e23 !important;
}
.services {
    height: 13%;
}
.services-front {
    width: 101%;
}
.services .flip-back-logo img {
    width: 100%;
}

.back-name {
    position: absolute;
    bottom: 1.16%;
    height: 7.88%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
    white-space: nowrap;
    z-index: 5;
}




.services .box-name-color {
    border: 1px solid #ff8e23 ;
    background: #ff8e23 ;
    font-family: OpenSans-Regular;
    font-size: 32px;
    font-size: 1.4059754vw;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.masters .box-name-color {
    border: 1px solid #974d28  ;
    background: #974d28  ;
}

.gallery .box-name-color {
    border: 1px solid #feeced;
    background: #feeced;
}

.materials .box-name-color {
    border: 1px solid #694f40   ;
    background: #694f40 ;
}

.reviews .box-name-color {
    border: 1px solid #8983a3;
    background: #8983a3;
    padding-bottom: 3px;
    color: white;
}




.reviews .box-name-color {
    font-family: OpenSans-Regular;
}

.reviews .flip-back-logo img {
    display: block;
    margin-left: 6.16%;
    margin-top: 2.22%;
    height: 127%;
}

.masters .flip-back {
    background: #7fca64 !important;
}

.masters .flip-back-logo {
    text-align: left;
}

.masters .flip-back-logo img {
    margin-left: 4.31%;
    height: 64%;
}



.flip-back .coming-soon {
    display: block;
    width: 100%;
    height: 100%;
}

.box-name-color {
    padding: 1% 2%;
    width: 45%;
    background: #8a1f41;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

body .wrapper .outer .sabor-outlet .box-name-color:hover {
    background: #000;
    border-color: #000;
}


.about-us .flip-back {
    background: #f4c8a8 !important;
}

.about-us .flip-back-logo img,
.materials .flip-back-logo img,
.gallery .flip-back-logo  img{
    display: block;
    width: 100%;
    margin: 0;
}

.materials .box-name-color,
.gallery .box-name-color {
    font-family: OpenSans-Regular;
    font-size: 34px;
    font-size: 1.49384886vw;
}




body .wrapper .outer .box-name-color:hover {
    background: #000;
    border-color: #000;
    color: #fff;
}

.overlay-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;

}

.hover-block .overlay-bg {
    opacity: 1;
}

.mobile .inner {
    min-height: 0;
}

@media (max-width: 900px) {
    .inner {
        min-height: 0;
    }
}

.degene-sale-label {
    position: absolute;
    top: 4%;
    right: 5%;
    width: 25%;
    z-index: 50;
}
.degene-sale-label img,
.sabor-sale-label img,
.fresh-sale-label img {
    display: block;
    width: 100%;
}

.sabor-club-new {
    width: 29%;
    padding: 29% 0 0;
    position: absolute;
    top: 2%;
    right: 4%;
    background: #9c1f38;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 15;
}

.sabor-club-new- {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}

.sabor-club-new-:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.sabor-club-new- span {
    color: #fff;
    font-size: 1.44vw;
    vertical-align: middle;
    display: inline-block;*display: inline;*zoom: 1;
}

.back-images-list {
    width: 100%;
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.back-images-list > li {
    width: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;*display: inline;*zoom: 1;
}

.back-images-list > li img {
    display: block;
    width: 100%;
}



.flip-back-image .gallery-list {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 15;
}

.itemscope-div {
    display: none;
}


.degene-30 {
    position: absolute;
    top: 2%;
    right: 5%;
    z-index: 2;
    width: 24%;

}
.degene-30 img {
    display: block;
    width: 100%;
}

.magazine-cover {
    display: block;
    position: absolute;
    left: -42px;
    top: 0;
    margin: 31% 0 0 2%;
    width: 12%;
}
.magazine-cover .bm-title {
    font-size: 16px;
    font-family: OpenSans-Regular;
    color: #754120;
    position: absolute;
    line-height: 20px;
    height: 20px;
    top: 50%;
    width: 400px;
    left: 50%;
    margin: -10px 0 0 -200px;
    text-shadow: 1px 1px #fefae6;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.magazine-cover .bm-image img {
    display: block;
    width: 100%;
    opacity: 1;
    position: relative;
    z-index: 5;
}
.magazine-cover:hover .bm-image {
    opacity: 0.2;
}
.magazine-cover:hover .bm-title {
    opacity: 1;
}
.sabor-di-ciliegi-logo a{
    color: inherit;
    font-size: 18px;
}

.bm-image {
    display: block;
    position: relative;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    -webkit-transform: rotate(-6deg) translateZ(0);
    transform: rotate(-6deg) translateZ(0);
}
.bm-image:before {
    content: '';
    position: absolute;
    left: -1.4%;
    top: -0.3%;
    padding: 0.3% 3.9% 6.73% 1.4%;
    width: 100%;
    height: 100%;
    /*background: url(../images/cover-shadow.jpg) no-repeat 100% 100%;*/
    background: url(/mak.jpg) no-repeat 100% 100%;
    background-size: 100% auto;
    margin-top: -1px;
    margin-left: 1px;
}


.materials .flip-back-logo {
    top: -1%;
}

.shop-links{
    padding-top: 5px;
    text-align: left;
    /*position: absolute;
    left: -5px;
    top: 0;
    margin: 15% 0 0 0;
    width: 13%;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    */
}
.shop-links a{
    display: block;
    font-size: 14px;
    color: #754120;
}
.shop-links a:hover{
    color: #ea002c;
}

.magazine-cover {
    width: 9%;
    left: -12px;
}
html {
    background-size: contain;
    background: url(../images/background.png) repeat center top #ffffff;
    width: 100%;
}

.online {
    font-size: 20px !important;
}

.brand-text {
    font-size: 18px !important;
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    color: #0a0807 !important;
}
.flip-back .brand-text{font-size: 28px !important;}
.flip-back .brand-text p{
    margin-top: 10px !important;
}

.flip-back.materials-front .brand-text {
    height: 100px;
    padding-top: 50px;

}

.flip-back.about-us-front .brand-text {
    height: 17%;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-back.services-front .brand-text {
    height: 125px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-back.gallery-front .brand-text {
    height: 125px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-back.reviews-front img {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 auto;
}
.flip-back.reviews-front .add-photo {
    height: 80%;
    padding-top: 10%;
}
.flip-back.reviews-front  .brand-text {
    height: 25px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flip-back.masters-front .brand-text {
    height: 88px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-front img.brand-logo {
    width: 101%;
    margin: 0 auto;
}

.big-gallery-front {
    height: 500px;
    width: 200%;
    padding-top: 15px;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
}